<div *ngFor="let aviary of aviaries" class="aviary-container">
  
  <div
    cdkDropList
    #aviaryAnimalsList="cdkDropList"
    [cdkDropListData]="aviary.animals"
    [cdkDropListConnectedTo]="[animalsList]"
    class="aviary-list"
    (cdkDropListDropped)="drop($event)">
    <div class="aviary-box" *ngFor="let animal of aviary.animals" cdkDrag>
			<app-animal [animal]="animal" (closed)="onClosed($event)">
			</app-animal>
		</div>
  </div>
</div>

<div class="example-container">
  
  <div
    cdkDropList
    #animalsList="cdkDropList"
    [cdkDropListData]="animals"
    
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let animal of animals" cdkDrag>
			<app-animal [animal]="animal" (closed)="onClosed($event)">
			</app-animal>
		</div>
  </div>
</div>

