.animal {
	margin: auto;
  	min-width: 100px;
	max-width: 200px;
  	padding: 5px;	
	border: solid 2px gray;
	border-radius: 10px;
	background-color: rgba(240,240,240,255);
}

.predator {
	color: red;
	text-align: center;
}

.veggie {
	color: green;
	text-align: center;
}

.mi {
	cursor: pointer;
	color: red;
}