<mat-card>
  <form #animalForm="ngForm" (ngSubmit)="save(animalForm.value)">
    <mat-card-header>
      <mat-card-title><h2>Добавление животного</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Название</mat-label>
        <input matInput name="name" required [(ngModel)]="animal.name">
      </mat-form-field>
      <mat-checkbox name="predator" [(ngModel)]="animal.predator">
        Хищник?
      </mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!animalForm.form.valid">Сохранить</button>
      <button mat-raised-button routerLink="/main">Назад</button>
    </mat-card-actions>    
  </form>
</mat-card>