<app-settings [mainAviaries]="settingAviaries" (changed)="onSettingAviariesChanged($event)">
</app-settings>

<div cdkDropListGroup>

	<div *ngFor="let aviary of aviaries" class="aviary-container">  
		<div
			cdkDropList			
			[cdkDropListData]="aviary.animals"
			class="aviary-list"
			(cdkDropListDropped)="drop($event)">
			<div class="animal-box" *ngFor="let animal of aviary.animals" cdkDrag>
				<app-animal [animal]="animal" (closed)="onClosed($event)">
				</app-animal>
			</div>
		</div>
	</div>

	<div class="animals-container">
		
		<div
			cdkDropList
			#animalsList="cdkDropList"
			[cdkDropListData]="animals"
			class="animal-list"
			(cdkDropListDropped)="drop($event)">
			<div class="animal-box" *ngFor="let animal of animals" cdkDrag>
				<app-animal [animal]="animal" (closed)="onClosed($event)">
				</app-animal>
			</div>
		</div>
	</div>
</div>

<p>
	<button mat-button (click)="generate()">Сгенерировать</button>
	<button mat-button (click)="save()">Сохранить</button>
	<button mat-button [routerLink]="['/animal-add']">Добавить</button>
</p>