<div class="settings">
	<app-settings [mainAviaries]="aviaries.length" (changed)="onAviariesChanged($event)">
	</app-settings>
</div>

<div>
	<table class="main-table">
		<tr>			
			<div cdkDropListGroup>
				<td class="aviaries-cell">
				<div class="aviaries-container">
						<div *ngFor="let aviary of aviaries" class="aviary-container">  
							<div
								cdkDropList	
								#aviaryList="cdkDropList"							
								[cdkDropListData]="aviary.animals"
								class="aviary-list"
								(cdkDropListDropped)="drop($event)">
								@for (animal of aviary.animals; track animal) {
									<div class="animal-box" cdkDrag>
										<app-animal 
											[animal]="animal" 
											(closed)="onClosedFromAviary($event)">
										</app-animal>
									</div>
								}
							</div>
						</div>
					</div>
				</td>

				<td class="animals-cell">
					<div class="animals-container">				
						<div
							cdkDropList
							#animalsList="cdkDropList"
							[cdkDropListData]="animals"
							class="animals-list"
							(cdkDropListDropped)="drop($event)">
							@for (animal of animals; track animal) {
								<div class="animal-box" cdkDrag>
									<app-animal 
										[animal]="animal" 
										(closed)="onClosedFromAnimals($event)">
									</app-animal>
								</div>
							}
						</div>
					</div>
				</td>
			</div>
		</tr>
		<tr>
			<div class="button-row">
				<button mat-raised-button (click)="generate()">Сгенерировать</button>
				<button mat-raised-button (click)="save()">Сохранить</button>
				<button mat-raised-button (click)="addAnimal()">Добавить</button>
			</div>
		</tr>
	</table>
</div>

